---
layout: base
---
%a{:href=>"https://github.com/undertow-io/undertow"}
    %img{:style=>"position: absolute; top: 0; right: 0; border: 0; z-index: 10000;", :src=>"https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt=>"Fork me on GitHub"}
:textile

    h1(#heading). Undertow

    Undertow is a web server written in java, providing both blocking and non-blocking API's.
    It is based on the "XNIO":http://www.jboss.org/xnio project.

    Mailing List: "undertow-dev@lists.jboss.org":mailto:undertow-dev@lists.jboss.org
    "http://lists.jboss.org/mailman/listinfo/undertow-dev":http://lists.jboss.org/mailman/listinfo/undertow-dev
