---
layout: base
---

:textile

    h1(#heading). Undertow

    Undertow is a web server written in java, providing both blocking and non-blocking API's.
    It is based on the "XNIO":http://www.jboss.org/xnio project.

    Mailing List: "undertow-dev@lists.jboss.org":mailto:undertow-dev@lists.jboss.org
    "http://lists.jboss.org/mailman/listinfo/undertow-dev":http://lists.jboss.org/mailman/listinfo/undertow-dev
