---
---
%article.post
  %header.header
    %h2.title
      %a{:href=>page.post.url}= page.post.title
    .byline
      %span.dateinline on #{page.post.date.strftime('%b %d, %Y')}
  .body
    ~ page.post.content
  .footer
    %a{:href=>page.post.url} permalink
