<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ "/" | relURL }}">Undertow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link{{ if eq .RelPermalink "/" }} active{{ end }}" href="{{ "/" | relURL }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ if hasPrefix .RelPermalink "/blog" }} active{{ end }}" href="{{ "blog/" | relURL }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ if eq .RelPermalink "/downloads/" }} active{{ end }}" href="{{ "downloads/" | relURL }}">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ if hasPrefix .RelPermalink "/documentation" }} active{{ end }}" href="{{ "documentation/" | relURL }}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ if eq .RelPermalink "/get-involved/" }} active{{ end }}" href="{{ "get-involved/" | relURL }}">Get Involved</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
